includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - src
        - tests

    level: max

    ignoreErrors:
        - identifier: function.alreadyNarrowedType
          path: tests/Assert.php
